@import '../styles/_variables';

$padding-top-bottom: 10px;
$padding-left-right: 20px;

.photo-page {  
  width: 100%;
  height: 100%;

  &.modal {
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 110px 30px 110px;
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-top-bottom $padding-left-right;
    
    &-credentials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    
    &-name {
      font-size: 1.2rem;
    }
    
    &-instagram { 
      font-size: 0.9rem;
    }
    
    &-back-button {
      right: 114px;
      font-size: 30px;
      cursor: pointer;
    }
  }
  
  &__main {
    // height: 100%;
    background-color: #ffffff;
    border-radius: $small-border-radius;
    &-image {
      height: 79%;
      & > img { 
        height: 100%;
      }
    }

    &-other {
      padding: 20px $padding-left-right + 50px; 

      &-description {
        text-align: left;
      }

      &-collections {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > p {
          font-size: 1.5rem;
          margin-bottom: 5px;
        }

        &-list {
          width: 100%;
          display: flex;
          justify-content: space-between;
          

          &-element {
            width: 415px;
            height: 291px;
            
            &-images {
              width: 100%;
              height: 100%;
              display: grid;
              grid-template-columns: 50% 25% 25%;
              grid-template-rows: 50% 50%;
    
              img:nth-child(1) {
                border-top-left-radius: $small-border-radius;
                border-bottom-left-radius: $small-border-radius;
                padding: 0px 5px 0px 0px;
                width: 100%;
                height: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
              }

              img:nth-child(2) {
                border-top-right-radius: $small-border-radius;
                padding: 0px 0px 5px 0px;
                width: 100%;
                height: 100%;
                grid-column-start: 3;
                grid-column-end: col4-start;
                grid-row-start: 1;
                grid-row-end: 2;
              }

              img:nth-child(3) {
                border-bottom-right-radius: $small-border-radius;
                width: 100%;
                height: 100%;
                grid-column-start: 3;
                grid-column-end: col4-start;
                grid-row-start: 2;
                grid-row-end: 3;
              }
            }
          }
        }
      }
    }
  }
}
