.photo-page {
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 110px;
  padding-left: 110px;
  cursor: zoom-out;

  &.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__main {
    pointer-events: none;
    cursor: default;
    background-color: #ffffff;
    &-image {
      height: 80%;
    }
  }
}
