@import "../styles/variables";

$navbar-margin: 20px;

.nav {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 0 1px rgba(1, 0, 0, 0.1);
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  transition: background-color 200ms;

  &.dark {
    background-color: #000000;
    a {
      background-color: rgba(255, 219, 219, 0.349);
      color: white;
    }
    .active {
      background-color: rgba(226, 5, 5, 0.349);
    }
  }

  &__content {
    max-width: $page-content-width;
    width: 100%;
    display: flex;
    padding: 0 $page-padding;
  }

  &__search-form {
    width: 30%;
    max-width: 500px;
    display: flex;
    align-items: center;
    margin-right: $navbar-margin;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;

    &-link {
      a {
        margin: $navbar-margin;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: $default-border-radius;
      }

      .active {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
